<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotdroid.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsPictureInPicture="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OreoActivity"
            android:colorMode="wideColorGamut"
            android:configChanges="smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true">
            <!-- suppress AndroidElementNotAllowed -->
            <layout
                android:defaultHeight="500dp"
                android:defaultWidth="600dp"
                android:gravity="top|end"
                android:minHeight="450dp"
                android:minWidth="300dp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- //for static shortcuts for nougat and above -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <!-- customizing the layout when the screen will be in split mode -->

        </activity>
        <activity android:name=".NotificationActivity" />
        <activity android:name=".AutofillActivity">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
              

            </intent-filter>
        </activity>
        <activity android:name=".AutoSizingTextViewsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".NougatActivity" />
        <receiver
            android:name=".NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>